* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

nav a:hover {
  color: blue;
}

.logo {
  color: #black;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2em;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.Rick {
  background-color: #000;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.Rick-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3em;
  color: aliceblue;
  text-align: center;
}

.column-left p {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}

.Rick-laptop {
  border-radius: 50px;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.Rick-image {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.Rick-site {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.Rick-pup {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

@media screen and (max-width: 760px) {
  .Rick-container {
    grid-template-columns: 1fr;
  }
}
